[submodule "lib/xr-http-json"]
	path = lib/xr-http-json
	url = https://github.com/inorton/xr-http-json
[submodule "lib/xr-include"]
	path = lib/xr-include
	url = git@github.com:inorton/xr-include.git
